/*
  ++++++++++++++++++++++++++++++++++++++++++++
  GRID
  ++++++++++++++++++++++++++++++++++++++++++++
*/
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
#wrapper {
  max-width: 940px;
  margin: 0px auto;
  border-radius: 4px;
  overflow: hidden;
  background-color: gray;
}
#topic {
  text-align: center;
}
/*section {
  margin-top: 30px;
}*/
.section_header {
  margin-left: 20px;
  margin-bottom: 0px;
}
.example {
  width: 300px;
  display: inline-block;
  margin: auto 0px;
  margin-left: 20px;
}
.description {
  width: 500px;
  display: inline-block;
}





/*
  ++++++++++++++++++++++++++++++++++++++++++++
  CATEGORY
  ++++++++++++++++++++++++++++++++++++++++++++
*/
/*
selector {
  property: value;
}
.class_selector {
  property: value;
}
#id_selector {
  property: value;
}
*/