/*
  ++++++++++++++++++++++++++++++++++++++++++++
  GRID
  ++++++++++++++++++++++++++++++++++++++++++++
*/
/**,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}*/
* {
  color: #393F3F;
  font-family: Helvetica, sans-serif;
}
body {
  background-color: #203030;
  margin: 0em;
}
.wrapper {
  max-width: 58.750em;
  margin: 0em auto;
  overflow: hidden;
  background-color: #E5E6E6;
}
#topic {
  text-align: center;
  font-size: 4.375em;
  border-bottom: 0.118em solid #000000;
  padding-bottom: 0.138em;
  margin: 0em;
}
section {
  background-color: #ACADAD;
  margin: 0.625em;
  border-radius: 0.188em;
}
.section_header {
  margin-top: 0em;
  font-size: 2.500em;
  margin-left: 0.550em;
  margin-bottom: 0.325em;
}
.sub {
  font-size: 1.600em;
  margin-left: 1.550em;
}
.example, .description {
  width: 50.750em;
  margin-bottom: 0.020em;
  margin-left: 2.500em;
  padding: 0.813em;
  border-radius: 0.188em;
}
.description {
  width: 40.013em;
}
p, .prettyprint {
  margin: 0em;
}
.result {
  color: #000000;
  font-family: Helvetica, sans-serif;
}




/*
  ++++++++++++++++++++++++++++++++++++++++++++
  CATEGORY
  ++++++++++++++++++++++++++++++++++++++++++++
*/
/*selector {
  property: value;
}
.class_selector {
  property: value;
}
#id_selector {
  property: value;
}*/